@tailwind base;
@tailwind components;
@tailwind utilities;

/*Configure initial canvas...*/
body {
  font-family: 'Quicksand', sans-serif;
  @apply font-medium;
}

/*Special class from Wallet*/
.wallet-label {
  @apply uppercase font-bold tracking-widest;
}
.wallet-input {
  @apply block w-full px-5 py-3;
}

/* Buttons */
.btn {
  @apply wallet-label;
  @apply wallet-input;
  @apply rounded-full;
}

/*Form*/
.form-group {
  @apply mb-3;
}
.form-group .form-label {
  @apply block w-full text-xs mb-1;
  @apply wallet-label;
}
.form-group .form-input {
  @apply wallet-input;
  @apply rounded-lg;
}
.form-group .grouped {
  @apply flex items-center !important;
}
.form-group .grouped i {
  @apply mr-5;
}
.form-group input:focus {
  @apply outline-none;
}