<template>
  <div class="flex justify-between items-center pt-10 pb-5 px-5" :class="[ headerTheme ? headerTheme : 'bg-gray-100 text-gray-700' ]">
    <div>
      <h1 class="text-2xl tracking-wide font-bold">{{ title }}</h1>
      <h4 v-if="subtitle" class="text-sm">{{ subtitle }}</h4>
    </div>
    <div class="pr-3" v-if="actionPath">
      <router-link :to="actionPath">
        <i class="text-lg" :class="[ actionIcon ? actionIcon : 'fas fa-plus' ]"></i>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['title', 'subtitle', 'actionPath', 'actionIcon', 'headerTheme'],
  }
</script>