<template>
  <div id="auth" class="max-w-screen pb-16">
    <vue-headful :title="getTitle"/>
    <AuthHeader
      :title="title" 
      :subtitle="subtitle" 
      :actionPath="actionPath" 
      :actionIcon="actionIcon"
      :headerTheme="headerTheme"/>
    <slot></slot>
    <AuthFooter />
  </div>
</template>

<script>
  import AuthHeader from '@/components/layouts/AuthHeader'
  import AuthFooter from '@/components/layouts/AuthFooter'

  export default {
    props: ['title', 'subtitle', 'actionPath', 'actionIcon', 'headerTheme'],
    components: { AuthHeader, AuthFooter },
    computed: {
      getTitle() {
        return this.title + ' - wallet by @keynesfariz'
      }
    },
  }
</script>

<style scoped>
  .btn {
    @apply bg-indigo-700 text-white;
  }
  .form-group .form-label {
    @apply text-gray-500;
  }
  .form-group .form-input {
    @apply border bg-white text-gray-700;
  }
  .form-group .grouped i {
    @apply text-gray-500;
  }
  .form-group .form-input:focus,
  .form-group .form-input:focus-within {
    @apply text-indigo-700 border-indigo-700;
  }
  .profile-photo {
    @apply rounded-full w-32 h-32 mx-auto mb-4;
  }
</style>