<template>
  <div class="flex justify-center px-3 text-gray-500 w-full fixed bottom-0 border-t bg-white">
    <router-link v-for="link in links" class="py-3 px-4 text-center" :to="link.path" :key="link.id" exact-active-class="text-indigo-700 font-bold">
      <i class="block text-xl mb-2" :class="link.icon"></i>
      <span class="block text-xs leading-none uppercase tracking-widest">{{ link.name }}</span>
    </router-link>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        links: [
          { name: 'Home', path: '/', icon: 'fas fa-home' },
          { name: 'History', path: '/transactions', icon: 'fas fa-clock' },
          { name: 'Wallets', path: '/wallets', icon: 'fas fa-wallet' },
          { name: 'Profile', path: '/profile', icon: 'fas fa-user' },
        ],
      }
    }
  }
</script>