<template>
  <div id="guest" class="max-w-screen h-screen pb-10 bg-indigo-700 text-white">
    <vue-headful :title="getTitle" />
    <GuestHeader />
    <slot></slot>
    <GuestFooter />
  </div>
</template>

<script>
  import GuestHeader from '@/components/layouts/GuestHeader'
  import GuestFooter from '@/components/layouts/GuestFooter'

  export default {
    props: ['title'],
    components: { GuestHeader, GuestFooter },
    computed: {
      getTitle() {
        return this.title + ' - wallet by @keynesfariz'
      }
    }
  }
</script>

<style scoped>
  .btn {
    @apply bg-white text-indigo-700;
  }
  .form-group .form-label {
    @apply text-indigo-300;
  }
  .form-group .form-input {
    @apply bg-indigo-600 text-white;
  }
  .form-group .form-input:focus {
    @apply bg-white text-indigo-700;
  }
</style>