<template>
  <div class="py-5 mt-4 bg-indigo-700 px-5 text-center">
    <h4 class="text-indigo-300 font-bold text-sm uppercase tracking-widest">Copyright &copy; N Fariz Keynes</h4>
  </div>
</template>