<template>
  <div class="pt-20 pb-5 px-5 text-center">
    <img src="@/assets/img/logo-white.svg" class="mx-auto w-24">
    <h1 class="text-2xl text-white tracking-widest font-bold">wallet</h1>
    <h4 class="text-indigo-300">Ingat, kamu misqueen.</h4>
  </div>
</template>