<template>
  <AuthLayout title="Home" subtitle="Overview your current life status">
    <div class="px-8 pt-8 pb-4 bg-gray-100">
      <UserCard :status="status"/>
    </div>
    <div class="px-6 pb-4 bg-gray-100">
      <UserOverview :balance="status.balance" :incomes="status.incomes" :expenses="status.expenses" />
    </div>
    <TransactionList title="latest">
      <div v-if="transactions.length">
        <TransactionItem :key="transaction.id" :transaction="transaction" v-for="transaction in transactions.slice(0, 3)"/>
      </div>
      <div class="p-5" v-else>
        <Alert type="info">No transaction found</Alert>
      </div>
    </TransactionList>
  </AuthLayout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Alert from '@/components/Alert'
  import AuthLayout from '@/components/layouts/AuthLayout'
  import UserCard from '@/components/UserCard'
  import UserOverview from '@/components/UserOverview'
  import TransactionList from '@/components/TransactionList'
  import TransactionItem from '@/components/TransactionItem'

  export default {
    components: { Alert, AuthLayout, UserOverview, TransactionList, TransactionItem, UserCard },
    computed: {
      ...mapGetters(['transactions', 'status']),
    },
    methods: {
      ...mapActions(['fetchStatus']),
    },
    created() {
      this.fetchStatus()
    }
  }
</script>