<template>
  <GuestLayout title="Sign In">
    <div class="px-5 form-group" v-show="alert.message">
      <Alert :type="alert.type">{{ alert.message }}</Alert>
    </div>
    <form @submit.prevent="login" class="px-5 mb-4">
      <div class="form-group">
        <label class="form-label">Email</label>
        <input @change="alert.message = ''" 
          class="form-input placeholder-indigo-400" 
          name="email" type="email" 
          v-model="email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <label class="form-label">Password</label>
        <input @change="alert.message = ''" 
          class="form-input placeholder-indigo-400" 
          name="password" type="password" 
          v-model="password" placeholder="Password" required>
      </div>
      <div class="text-right my-4">
        <router-link to="/password">Forgot Password?</router-link>
      </div>
      <button type="submit" class="btn">sign in</button>
    </form>
    <p class="text-center text-indigo-300">Don't have an account? <router-link class="text-white" to="/register">Sign up</router-link></p>
  </GuestLayout>
</template>

<script>
  import firebase from '@/firebase'
  import Alert from '@/components/Alert'
  import GuestLayout from '@/components/layouts/GuestLayout'

  export default {
    components: { Alert, GuestLayout },

    data() {
      return {
        email: '',
        password: '',
        alert: {
          type: 'info',
          message: '',
        },
      }
    },

    methods: {
      login() {
        this.alert.type = 'info'
        this.alert.message = 'Logging in...'
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
          .catch(error => {
            this.alert.type = 'danger'
            this.alert.message = error.message
          })
      }
    }
  }
</script>