<template>
  <AuthLayout title="Update Profile" headerTheme="bg-indigo-700 text-white">
    <div class="bg-indigo-700 text-white text-center p-5">
      <div v-show="alert.message" class="mb-5"><Alert :type="alert.type">{{ alert.message }}</Alert></div>
      <input ref="photo" type="file" class="hidden" @change="changePhotoProfile">
      <button @click="$refs.photo.click()" class="relative w-40 h-40 text-center focus:outline-none">
        <img :src="photoURL" class="profile-photo">
        <span class="absolute bg-indigo-400 bottom-0 right-0 mb-6 mr-4 h-10 w-10 rounded-full shadow-xl text-center py-2">
          <i class="fas fa-pencil-alt"></i>
        </span>
      </button>
    </div>
    <div class="bg-gray-100">
      <form @submit.prevent="updateProfile" class="p-5">
        <div class="form-group">
          <label class="form-label">full name*</label>
          <div class="form-input grouped">
            <i class="fas fa-user"></i>
            <input v-model="displayName" class="flex-1 appearance-none" required>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">email*</label>
          <div class="form-input grouped">
            <i class="fas fa-envelope"></i>
            <input v-model="email" class="flex-1 appearance-none cursor-default" required readonly>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-full my-5 focus:outline-none">update</button>
      </form>
    </div>
  </AuthLayout>
</template>

<script>
  import axios from 'axios'
  import firebase from '@/firebase'
  import Alert from '@/components/Alert'
  import AuthLayout from '@/components/layouts/AuthLayout'

  export default {
    components: { Alert, AuthLayout },
    data() {
      return {
        alert: {
          type: 'info',
          message: '',
        },
        email: '',
        displayName: '',
        photoURL: 'http://wallet.keynesfariz.com/backend/public/photos/logo.svg',
      }
    },
    methods: {
      updateProfile() {
        this.alert.type = 'info'
        this.alert.message = 'Saving your info...'
        firebase.auth().currentUser.updateProfile({ displayName: this.displayName })
        this.alert.type = 'success'
        this.alert.message = 'Profile updated.'
        setTimeout(() => this.alert.message = '', 2000)
      },
      changePhotoProfile(event) {
        if (event.target.files.length) {
          let formData = new FormData()
          formData.append('photo', event.target.files[0])
          formData.append('old', this.photoURL)
          this.alert.type = 'info'
          this.alert.message = 'Uploading profile photo...'
          axios.post('http://wallet.keynesfariz.com/storage/public/upload', formData)
            .then(response => {
              firebase.auth().currentUser.updateProfile({ photoURL: response.data })
              this.photoURL = response.data
              this.alert.type = 'success'
              this.alert.message = 'Photo updated.'
              setTimeout(() => this.alert.message = '', 2000)
            })
            .catch(error => {
              console.log('Error updating profile photo! ', error)
              this.alert.type = 'info'
              this.alert.message = 'Error updating profile photo!'
            })
        }
      },
    },
    created() {
      this.displayName = firebase.auth().currentUser.displayName
      this.email = firebase.auth().currentUser.email
      if (firebase.auth().currentUser.photoURL)
        this.photoURL = firebase.auth().currentUser.photoURL
    }
  }
</script>