<template>
  <AuthLayout
    title="Profile"
    headerTheme="bg-indigo-700 text-white"
    actionPath="/profile/edit"
    actionIcon="fas fa-pencil-alt">
    <div class="bg-indigo-700 text-white p-5">
      <img v-if="user.photoURL" :src="user.photoURL" class="rounded-full w-32 h-32 mx-auto mb-4">
      <img v-else src="@/assets/img/logo.svg" class="rounded-full w-32 h-32 mx-auto mb-4">
      <h1 class="text-center wallet-label text-xl">{{ user.displayName ? user.displayName : 'Your Name' }}</h1>
      <h3 class="text-center lowercase text-indigo-300">{{ user.email ? user.email : 'email@example.com' }}</h3>
    </div>
    <div class="bg-white text-gray-700 flex items-center text-center border-b">
      <div class="flex-1 py-3 border-r">
        <h5 class="wallet-label text-sm">incomes</h5>
        <h3 class="text-2xl font-bold">+{{ status.incomes | money }}</h3>
      </div>
      <div class="flex-1 py-3">
        <h5 class="wallet-label text-sm">expenses</h5>
        <h3 class="text-2xl font-bold">-{{ status.expenses | money }}</h3>
      </div>
    </div>
    <div class="bg-gray-100 text-gray-700 px-8 pt-8 pb-4">
      <div class="flex justify-between items-center border-b py-2">
        <span class="text-lg">Wallets</span>
        <span class="text-lg text-indigo-400">{{ wallets.length }}</span>
      </div>
      <div class="flex justify-between items-center border-b py-3">
        <span class="text-lg">Transactions</span>
        <span class="text-lg text-indigo-400">{{ transactions.length }}</span>
      </div>
    </div>
    <button class="py-2 w-full focus:outline-none wallet-label text-xs text-red-500" @click="logout">Logout</button>
  </AuthLayout>
</template>

<script>
  import { mapGetters } from 'vuex'
  import firebase from '@/firebase'
  import AuthLayout from '@/components/layouts/AuthLayout'
  export default {
    components: { AuthLayout },
    data() {
      return {
        deleteForm: false,
        user: {},
        password: '',
      }
    },
    computed: {
      ...mapGetters(['status', 'wallets', 'transactions'])
    },
    methods: {
      logout() {
        firebase.auth().signOut()
      }
    },
    created() {
      this.user = firebase.auth().currentUser
    }
  }
</script>

<style scoped>
  #auth {
    @apply bg-gray-100;
  }
  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
</style>