<template>
  <GuestLayout title="Sign Up">
    <div class="px-5 mb-3" v-show="alert.message">
      <Alert :type="alert.type">{{ alert.message }}</Alert>
    </div>
    <form @submit.prevent="register()" class="px-5 mb-4" @keyup="alert.message = ''">
      <div class="form-group">
        <label class="form-label">Full Name</label>
        <input @change="alert.message = ''"
          class="form-input placeholder-indigo-400" 
          type="text" v-model="name" placeholder="Full Name" required>
      </div>
      <div class="form-group">
        <label class="form-label">Email</label>
        <input @change="alert.message = ''"
          class="form-input placeholder-indigo-400" 
          type="email" v-model="email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <label class="form-label">Password</label>
        <input @change="alert.message = ''"
          class="form-input placeholder-indigo-400" 
          type="password" v-model="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn my-6">sign up</button>
    </form>
    <p class="text-center text-indigo-300">Already have an account? <router-link class="text-white" to="/login">Sign in</router-link></p>
  </GuestLayout>
</template>

<script>
  import firebase from '@/firebase'
  import Alert from '@/components/Alert'
  import GuestLayout from '@/components/layouts/GuestLayout'

  export default {
    components: { Alert, GuestLayout },

    data() {
      return {
        name: '',
        email: '',
        password: '',
        alert: {
          type: 'info',
          message: '',
        },
      }
    },

    methods: {
      register() {
        this.alert.type = 'info'
        this.alert.message = 'Registering user ...'
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
          .then(() => {
            console.log('Register success.')
            var user = firebase.auth().currentUser
            user.updateProfile({ displayName: this.name })
          })
          .catch(error => {
            this.alert.type = 'danger'
            this.alert.message = error.message
          })
      }
    }
  }
</script>