<template>
  <AuthLayout title="Add a Transaction">
    <div class="bg-gray-100 px-5">
      <form @submit.prevent="onSubmitTransaction">
        <div class="form-group">
          <label class="form-label">Transaction type</label>
          <div class="flex">
            <div v-for="type in types" :key="type.id" class="flex-1 p-1">
              <button @click="changeTransactionType(type.type)" type="button"
                class="w-full pt-3 pb-1 border rounded-lg bg-white text-center focus:outline-none"
                :class="[ transaction.type == type.type ? type.color : 'text-gray-500' ]">
                <i class="block text-2xl" :class="type.icon"></i>
                <span class="block text-sm">{{ type.name }}</span>
              </button>
            </div>
          </div>
        </div>
        <div v-show="transaction.type != 'TRANSFER'" class="form-group">
          <label class="form-label">note*</label>
          <div class="form-input grouped">
            <i class="fas fa-pen-fancy"></i>
            <input v-model="transaction.note" class="flex-1 appearance-none">
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">amount*</label>
          <div class="form-input grouped">
            <i class="fas fa-dollar-sign"></i>
            <input v-model="transaction.amount" type="number" min="0" step="0.01" :max="maxAmount"
              class="flex-1 text-right appearance-none" required>
          </div>
        </div>
        <div v-if="transaction.type == 'TRANSFER'">
          <div class="form-group pr-1">
            <label class="form-label">from*</label>
            <div class="form-input grouped">
              <i class="fas fa-wallet"></i>
              <select v-model="transfer.from" class="flex-1 bg-white appearance-none focus:outline-none" :required="transaction.type == 'TRANSFER'">
                <option v-for="wallet in walletsHaveMoney" :key="wallet.id" :value="wallet">{{ wallet.name }} ({{ wallet.balance | money }})</option>
              </select>
            </div>
          </div>
          <div class="form-group pl-1">
            <label class="form-label">to*</label>
            <div class="form-input grouped">
              <i class="fas fa-wallet"></i>
              <select v-model="transfer.to" class="flex-1 bg-white appearance-none focus:outline-none" :required="transaction.type == 'TRANSFER'">
                <option v-for="wallet in walletsDestination" :key="wallet.id" :value="wallet">{{ wallet.name }} ({{ wallet.balance | money }})</option>
              </select>
            </div>
          </div>
        </div>
        <div v-else class="form-group">
          <label class="form-label">wallet*</label>
          <div class="form-input grouped">
            <i class="fas fa-wallet"></i>
            <select v-model="transaction.wallet" class="flex-1 bg-white appearance-none focus:outline-none">
              <option v-for="wallet in walletsByTransType" :key="wallet.id" :value="wallet">{{ wallet.name }} ({{ wallet.balance | money }})</option>
            </select>
          </div>
        </div>
        <div v-show="transaction.type != 'TRANSFER'" class="form-group">
          <label class="form-label">date*</label>
          <div class="form-input grouped">
            <i class="fas fa-calendar"></i>
            <input v-model="transaction.date" type="date" class="flex-1 appearance-none" required>
          </div>
        </div>
        <div v-show="transaction.type != 'TRANSFER'" class="form-group">
          <label class="form-label">category</label>
          <div class="flex flex-wrap">
            <div v-for="category in categoriesByTransType" :key="category.id" class="w-1/3 sm:w-1/4 md:w-1/6 lg:w-1/8 p-1">
              <button @click="transaction.category = category" type="button"
                class="w-full pt-3 pb-1 border rounded-lg bg-white text-center focus:outline-none"
                :class="[ transaction.category == category ? 'text-blue-500 border border-blue-500 shadow' : 'text-gray-500' ]">
                <i class="block text-2xl" :class="category.icon"></i>
                <span class="block text-sm">{{ category.name }}</span>
              </button>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-full my-5">{{ transaction.type == 'TRANSFER' ? 'transfer' : 'save' }}</button>
      </form>
    </div>
  </AuthLayout>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import firebase from '@/firebase'
  import moment from 'moment'
  import AuthLayout from '@/components/layouts/AuthLayout'

  export default {
    components: { AuthLayout },

    data() {
      return {
        showWalletOptions: false,
        types: [
          { name: 'Income', type: 'INCOME', color: 'text-green-500 border-green-500 shadow', icon: 'fas fa-download' },
          { name: 'Expense', type: 'EXPENSE', color: 'text-red-500 border-red-500 shadow', icon: 'fas fa-upload' },
          { name: 'Transfer', type: 'TRANSFER', color: 'text-blue-500 border-blue-500 shadow', icon: 'fas fa-exchange-alt' },
        ],
        transfer: {
          from: {},
          to: {},
        },
        transaction: {
          uid: firebase.auth().currentUser.uid,
          wallet: {},
          category: {},
          type: 'EXPENSE',
          date: moment().format('YYYY-MM-DD'),
          amount: 0,
          note: '',
        }
      }
    },

    computed: {
      ...mapGetters(['wallets', 'categories']),
      maxAmount() {
        if (this.transaction.type == 'TRANSFER') {
          return this.transfer.from.balance
        } else if (this.transaction.type == 'EXPENSE') {
          return this.transaction.wallet.balance
        } else {
          return 999999999
        }
      },
      categoriesByTransType() {
        return this.categories.filter(categ => categ.type == this.transaction.type)
      },
      walletsHaveMoney() {
        return this.wallets.filter(wallet => wallet.balance > 0)
      },
      walletsDestination() {
        return this.wallets.filter(wallet => wallet.id != this.transfer.from.id)
      },
      walletsByTransType() {
        if (this.transaction.type == 'EXPENSE') {
          return this.walletsHaveMoney
        } else {
          return this.wallets
        }
      },
    },

    methods: {
      ...mapActions(['storeTransaction']),

      changeTransactionType(type) {
        this.transaction.type = type
        if (type == 'TRANSFER') {
          let transferCategory = this.categories.filter(item => item.type == type)
          this.transaction.category = transferCategory[0]
        } else {
          this.transaction.category = {}
        }
      },

      onSubmitTransaction() {
        if (this.transaction.type == 'TRANSFER') {
          let transTempSource = this.transaction
          transTempSource.wallet = this.transfer.from
          transTempSource.type = 'EXPENSE'
          transTempSource.date = moment().format('YYYY-MM-DD')
          transTempSource.note = 'Transfer to ' + this.transfer.to.name
          this.storeTransaction(transTempSource)

          let transTempDest = transTempSource
          transTempDest.wallet = this.transfer.to
          transTempDest.type = 'INCOME'
          transTempDest.date = moment().format('YYYY-MM-DD')
          transTempDest.note = 'Transferred from ' + this.transfer.from.name
          this.storeTransaction(transTempDest)
        } else {
          this.storeTransaction(this.transaction)
        }
        this.$router.push('/transactions')
      }
    },
  }
</script>