<template>
  <AuthLayout title="Transaction History" subtitle="Where all of your monies come and go" actionPath="/transactions/create">
    <div v-if="dates.length">
      <TransactionList v-for="date in dates" :key="date.id" :title="date | date">
        <TransactionItem :key="transaction.id" :transaction="transaction" v-for="transaction in transactionsByDate(date)"/>
      </TransactionList>
    </div>
    <div class="p-5" v-else>
      <Alert type="info">No transaction found</Alert>
    </div>
  </AuthLayout>
</template>

<script>
  import { mapGetters } from 'vuex'
  import moment from 'moment'
  import Alert from '@/components/Alert'
  import AuthLayout from '@/components/layouts/AuthLayout'
  import TransactionList from '@/components/TransactionList'
  import TransactionItem from '@/components/TransactionItem'

  export default {
    components: { Alert, AuthLayout, TransactionList, TransactionItem },
    data() {
      return {
        dates: [],
      }
    },
    computed: {
      ...mapGetters(['transactions']),
    },
    methods: {
      transactionsByDate(date) {
        return this.transactions.filter(trans => {
          const myDate = moment(trans.date).format('YYYY-MM-DD')
          return myDate == date
        })
      },
    },
    created() {
      this.transactions.sort((a, b) => b.createdAt - a.createdAt)
      this.transactions.forEach(trans => {
        const myDate = moment(trans.date).format('YYYY-MM-DD')
        const found = this.dates.find(date => date == myDate)
        if (!found) this.dates.push(myDate)
      })
      this.dates.sort((a, b) => {
        if (a < b) return 1
        if (a > b) return -1
        return 0
      })
    }
  }
</script>