<template>
  <AuthLayout title="Add a Wallet">
    <div class="bg-gray-100 px-5">
      <form @submit.prevent="saveWallet">
        <div class="form-group">
          <label class="form-label">Wallet type</label>
          <div class="flex">
            <div v-for="type in types" :key="type.id" class="flex-1 p-1">
              <button @click="wallet.type = type.type" type="button"
                class="w-full pt-3 pb-1 border rounded-lg bg-white text-center focus:outline-none"
                :class="[ wallet.type == type.type ? type.color : 'text-gray-500' ]">
                <i class="block text-2xl" :class="type.icon"></i>
                <span class="block text-sm">{{ type.name }}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-label">Wallet name</label>
          <input v-model="wallet.name" class="form-input" required>
        </div>
        <button type="submit" class="btn btn-primary w-full my-5">save wallet</button>
      </form>
    </div>
  </AuthLayout>
</template>

<script>
  import { mapActions } from 'vuex'
  import AuthLayout from '@/components/layouts/AuthLayout'

  export default {
    components: { AuthLayout },
    data() {
      return {
        types: [
          { name: 'Cash', type: 'cash', color: 'text-green-500 border-green-500 shadow', icon: 'fas fa-coins' },
          { name: 'Bank', type: 'bank', color: 'text-blue-500 border-blue-500 shadow', icon: 'fas fa-money-check-alt' },
          { name: 'E-Money', type: 'emoney', color: 'text-red-500 border-red-500 shadow', icon: 'fas fa-mobile' },
        ],
        wallet: {
          name: '',
          type: 'cash',
        }
      }
    },
    methods: {
      ...mapActions(['storeWallet']),
      saveWallet() {
        this.storeWallet(this.wallet)
        this.$router.push('/wallets')
        // this.wallet.createdAt = Date.now()
        // db.collection('wallets').add(this.wallet)
        // this.fetchWallets()
      }
    },
  }
</script>