<template>
  <AuthLayout title="My Wallet" subtitle="Manage your wallets" actionPath="/wallets/create">
    <div v-if="wallets.length" class="flex flex-no-wrap p-8 max-w-screen scrolling-touch overflow-x-auto bg-gray-100">
      <button class="flex-none w-full text-left focus:outline-none mr-5" 
        v-for="wallet in wallets"  :key="wallet.id"
        @click="changeWallet(wallet.id, wallet.name)">
        <WalletCard :key="wallet.id" :wallet="wallet" :selected="wallet.id == selectedWallet"/>
      </button>
    </div>
    <div class="p-5" v-else>
      <Alert type="warning">No wallets found</Alert>
    </div>
    <TransactionList :title="selectedWalletName ? selectedWalletName : '! Click on a wallet to view transactions' ">
      <div v-if="transactionsByWallet.length">
        <TransactionItem :key="transaction.id" :transaction="transaction" v-for="transaction in transactionsByWallet"/>
      </div>
      <div class="p-5" v-else>
        <Alert type="info">No transaction found</Alert>
      </div>
    </TransactionList>
  </AuthLayout>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Alert from '@/components/Alert'
  import AuthLayout from '@/components/layouts/AuthLayout'
  import WalletCard from '@/components/WalletCard'
  import TransactionList from '@/components/TransactionList'
  import TransactionItem from '@/components/TransactionItem'

  export default {
    components: { Alert, AuthLayout, WalletCard, TransactionList, TransactionItem },
    data() {
      return {
        selectedWallet: '',
        selectedWalletName: '',
      }
    },
    computed: {
      ...mapGetters(['wallets', 'transactions']),
      transactionsByWallet() {
        return this.transactions.filter(trans => trans.wallet.id == this.selectedWallet)
      }
    },
    methods: {
      ...mapActions(['fetchWallets']),
      changeWallet(walletId, walletName) {
        this.selectedWallet = walletId
        this.selectedWalletName = walletName
      }
    },
    created() {
      this.fetchWallets()
      if (this.wallets.length) {
        this.selectedWallet = this.wallets[0].id
        this.selectedWalletName = this.wallets[0].name
      }
    }
  }
</script>