<template>
  <div class="flex items-center px-5 py-3 shadow-lg" :class="color">
    <i class="fas text-xl mr-4" :class="icon"></i>
    <p class="text-sm leading-snug"><slot></slot></p>
  </div>
</template>

<script>
  export default {
    props: ['type'],
    data() {
      return {
        types: [
          { name: 'primary', color: 'bg-indigo-500 text-white', icon: 'fa-exclamation-circle' },
          { name: 'light', color: 'bg-white text-gray-700', icon: 'fa-exclamation-circle' },
          { name: 'info', color: 'bg-blue-500 text-white', icon: 'fa-exclamation-circle' },
          { name: 'success', color: 'bg-green-500 text-white', icon: 'fa-check-circle' },
          { name: 'warning', color: 'bg-orange-500 text-white', icon: 'fa-exclamation-triangle' },
          { name: 'danger', color: 'bg-red-500 text-white', icon: 'fa-times-circle' },
        ],
      }
    },
    computed: {
      color() {
        let typeDetail = this.types.filter(filteredType => filteredType.name == this.type)
        return typeDetail[0].color
      },
      icon() {
        let typeDetail = this.types.filter(filteredType => filteredType.name == this.type)
        return typeDetail[0].icon
      }
    }
  }
</script>