<template>
  <div class="bg-white">
    <div class="px-5 py-3 bg-gray-200">
      <h4 class="text-xs uppercase tracking-widest font-bold text-center text-gray-500">{{ title }}</h4>
    </div>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    props: ['title'],
  }
</script>