<template>
  <div class="border-b">
    <div class="flex justify-between items-center px-6 py-2">
      <div>
        <h4 class="font-bold">{{ transaction.note }}</h4>
        <p class="text-sm text-gray-500 font-bold"><i class="mr-1" :class="transaction.category.icon"></i> {{ transaction.category.name }}</p>
        <p class="text-sm text-gray-500">{{ transaction.createdAt | ago }}</p>
      </div>
      <div class="text-right">
        <h4 class="text-xl">{{ transaction.type == 'INCOME' ? '+' : '-' }}{{ transaction.amount | money }}</h4>
        <p class="text-sm text-gray-500">{{ transaction.wallet.name }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['transaction'],
  }
</script>