<template>
  <div v-if="status" class="w-full text-white rounded-lg shadow-lg px-5 py-4 bg-indigo-700">
    <div class="flex justify-between items-center mb-1 text-indigo-300">
      <p class="text-xs uppercase tracking-widest font-bold">current balance</p>
      <p class="font-bold uppercase tracking-widest">all</p>
    </div>
    <h4 class="text-4xl leading-none mb-4">{{ status.balance | money }}</h4>
    <h5 class="text-xl tracking-widest mb-2">{{ lastUpdate | secure }}</h5>
    <p class="font-bold uppercase tracking-widest text-indigo-300">{{ status.last_transaction_at | monthYear }}</p>
  </div>
</template>

<script>
  import moment from 'moment'

  export default {
    props: ['status'],
    computed: {
      lastUpdate() {
        return moment().valueOf()
      }
    },
  }
</script>