<template>
  <div class="flex flex-wrap items-center">
    <div class="w-1/2 h-full px-2">
      <div class="card card-color bg-green-500">
        <h5>incomes</h5>
        <h3>+{{ incomes | money }}</h3>
      </div>
    </div>
    <div class="w-1/2 h-full px-2">
      <div class="card card-color bg-red-500">
        <h5>expenses</h5>
        <h3>-{{ expenses | money }}</h3>
      </div>
    </div>
    <div class="w-1/2 h-full px-2">
      <div class="card card-light">
        <h5>Daily expenses</h5>
        <h3>{{ daily | money }}</h3>
      </div>
    </div>
    <div class="w-1/2 h-full px-2">
      <div class="card card-light">
        <h5>Payroll in</h5>
        <h3>{{ payroll }} {{ payroll > 1 ? 'days' : 'day' }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  
  export default {
    props: ['balance', 'incomes', 'expenses'],
    computed: {
      payroll() {
        let currentDate = moment()
        let payrollDate = moment().endOf('month')
        return payrollDate.diff(currentDate, 'days') - 2
      },
      daily() {
        return this.balance / this.payroll
      }
    }
  }
</script>

<style>
  .card {
    @apply mb-2 px-5 py-3 rounded-lg;
  }
  .card h3 {
    @apply text-xl leading-none;
  }
  .card-light {
    @apply bg-white border;
  }
  .card-light h3 {
    @apply font-bold text-indigo-500;
  }
  .card-light h5 {
    @apply text-sm;
  }
  .card-color {
    @apply text-white text-center uppercase tracking-widest font-bold;
  }
  .card-color h5 {
    @apply text-xs;
  }
</style>