<template>
  <div v-if="wallet" class="w-full text-white rounded-lg shadow-lg px-5 py-4" :class="color.bg">
    <div class="flex justify-between items-center mb-1" :class="color.text">
      <p class="text-xs uppercase tracking-widest font-bold">{{ wallet.name }}</p>
      <p class="font-bold uppercase tracking-widest">{{ wallet.type }}</p>
    </div>
    <h4 class="text-4xl leading-none mb-4">{{ wallet.balance | money }}</h4>
    <h5 class="text-xl tracking-widest mb-2">{{ wallet.created_at | secure }}</h5>
    <p class="font-bold uppercase tracking-widest" :class="color.text">{{ wallet.last_transaction_at | monthYear }}</p>
  </div>
</template>

<script>
  export default {
    props: ['wallet', 'selected'],
    data() {
      return {
        colors: [
          { type: 'CASH', color: 'green' },
          { type: 'BANK', color: 'blue' },
          { type: 'EMONEY', color: 'red' },
        ],
      }
    },

    computed: {
      color() {
        if (this.selected) {
          let walletDetail = this.colors.filter(filtered => filtered.type == this.wallet.type)
          let selectedColor = walletDetail[0].color
          return {
            bg: 'bg-' + selectedColor + '-700',
            text: 'text-' + selectedColor + '-400',
          }
        } else {
          return {
            bg: 'bg-gray-700',
            text: 'text-gray-400',
          }
        }
      }
    },
  }
</script>