<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'
  import firebase from '@/firebase'
  export default {
    methods: {
      ...mapActions(['fetchStatus', 'fetchWallets', 'fetchTransactions', 'fetchCategories']),
    },
    created() {
      firebase.auth().onAuthStateChanged(user => {
        if (user) {
          this.fetchStatus()
          this.fetchWallets()
          this.fetchTransactions()
          this.fetchCategories()
        }
      })
    }
  }
</script>